:root {
	--dark-color: 		#474747;

	--color-fff:		#FFFFFF;
	--color-100:		#F0F0F0;
	--color-200:		#EEEEEE;
	--color-300:		#E0E0E0;
	--color-400:		#BDBDBD;
	--color-500:		#555555;
	--color-600:		#757575;
	--color-700:		#616161;
	--color-800:		#424242;
	--color-900:		#212121;
	--color-000:		#000000;


	--border-color:		#353535;
	--card-color: 		#c13632;
	--body-color: 		#300c0c;
	--white-color: 		#ffffff;
	--sidebar-color:	#eeeeee;
	--text-color:       #a1a0a0;
	    // --text-color:       #ffffff;

	--hc-font-color:	#9c9c9c;
	--hc-bg-color:		#7a2222;

}

[data-theme="dark"] {
	--dark-color: 		#323A45;

	--color-fff:		#000000;
	--color-100:		#212121;
	--color-200:		#262727;
	--color-300:		#616161;
	--color-400:		#757575;
	--color-500:		#8f8f8f;
	--color-600:		#BDBDBD;
	--color-700:		#E0E0E0;
	--color-800:		#EEEEEE;
	--color-900:		#F0F0F0;
	--color-000:		#FFFFFF;

	--border-color:		#353535;
	--card-color: 		#262727;
	--body-color: 		#1e1f20;
	--white-color: 		#ffffff;
	--sidebar-color:	#fcfcfc;
	--text-color:       #000000;
    // --text-color:       #8f8f8f;

	--hc-font-color:	#555555;
	--hc-bg-color:		#f0f0f0;

    [class="theme-matamaps"] {
        --secondary-color: 	#ffffff;
        --body-color: 		#ffffff;
        --border-color:     #474747;
        --card-color:       #dddddd;
        --primary-gradient: linear-gradient(45deg, #5e2b2a, #a62e2b);
    }
}

[class="theme-matamaps"] {
	--primary-color: 	#a62e2b;
	--secondary-color: 	#c13632;

    --chart-color1: 	#9e3200; 
    --chart-color2: 	#9e7900;
    --chart-color3: 	#2d9e00;
    --chart-color4: 	#7e009e;
    --chart-color5: 	#9e3200;
    --chart-color6: 	#9e007c;
    --chart-color7: 	#00869e;


	--primary-gradient: linear-gradient(45deg, #5e2b2a, #a62e2b);
}


.secondary-color{
    color: var(--secondary-color);
}
.secondary-color-fill{
    fill: var(--secondary-color);
}